/* ## Typography */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz@0,14..32;1,14..32&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*,
*::after,
*::before{
    box-sizing: border-box;
}
:root{

 /* ### Primary */

--Red: hsl(0, 78%, 62%);
--Cyan: hsl(180, 62%, 55%);
--Orange: hsl(34, 97%, 64%);
--Blue: hsl(212, 86%, 64%);

/* ### Neutral */

--Grey-500: hsl(234, 12%, 34%);
--Grey-400: hsl(212, 6%, 44%);
--White: hsl(0, 0%, 100%);
/* ## Typography */

}
body{
    display: flex;
    justify-content: center;
    align-content: center;
    font-family: 'Poppins', serif;
    font-size: 15px;
    margin: 0;
    padding: 0;
}
.container{
    margin-top:10px;
    width: 80%;
    text-align: center;
}
h1,span{
    white-space: nowrap;
}
h1{
    color: var(--Grey-400);
    font-size: 2rem;/*32px*/
    font-weight: 200;
    margin-bottom: 0;
}
span{
    
    color: var(--Grey-500);
    font-size: 2rem;/*32px*/
    font-weight: 600;
}
p{
    color: var(--Grey-400);
    font-size: 1rem;/*16px*/
    font-weight: 400;
    
}

.cards{
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(3,350px);
    grid-template-rows: repeat(2,250px);
    align-items: center;
    justify-content: center;
    gap: 30px;
    text-align: left;
    font-family: 'Poppins', serif;
    
}

.cardG , .cardB, .cardR, .cardY{
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 350px;
    height: 250px;
    background-color: var(--White);
    border-radius: 12px;
    padding: 27px;
    box-shadow: 1px 12px 12px 12px rgba(0, 0, 0, 0.05);
    cursor: pointer;
}
.cardG, .cardB, .cardR, .cardY {
    transition: transform 0.3s ease; /* Smooth transition for scaling */
}

.cardG:hover, .cardB:hover, .cardR:hover, .cardY:hover {
    transform: scale(1.05); /* Scale the element to 1.1 times its size */
    transform-origin: center;  /* Make sure the scale happens from the center */
}

.cardG::before,
 .cardB::before,
  .cardR::before,
   .cardY::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    border-radius: 12px 12px 0 0;
}

.cardG::before {
    background-color: var(--Cyan); /* Cyan top border */
}

.cardB::before {
    background-color: var(--Blue); /* Blue top border */
}

.cardR::before {
    background-color: var(--Red); /* Red top border */
}

.cardY::before {
    background-color: var(--Orange); /* Orange top border */
}
/* Position the cards */
.cardY,.cardR{
    grid-column: 2;
 
}
.cardY{
    grid-row: 2;
}
.cardR{
    grid-row:1 ;
}
.cardG, .cardB{
    align-self:center ;
    grid-row: span 2;
}
 

.cards span{
    color: var(--Grey-500);
    font-size: 1.125rem;/*18px*/
    font-weight: 600;
    font-family: 'Poppins', serif;

}
.cards p{
    color: var(--Grey-400);
    font-size: 0.875rem;/*14px*/
    font-weight: 400;
}

 .icon{
width: 70px;
height: 70px;
position: absolute;
align-self:flex-end ;
bottom:20px;
}
   
/*mobile first*/
@media screen and (min-width: 375px) and (max-width: 600px){
    .container{
        margin-top: 30px;
        width: 90%;
        
    }
    h1,span{
        font-size: 1.5rem;/*24px*/
    }
    p{
        font-size: 0.875rem;/*14px*/
    }
    .cards{
        margin-top: 60px;
        margin-bottom: 44px;
        grid-template-columns: 90%;
        grid-template-rows: repeat(4,247px);
    }
   
    .cardG, .cardB, .cardR, .cardY{
        grid-column: 1;
    }
    .cardG{
        grid-row: 1;
    }
    .cardR{
        grid-row: 2;
    }
    .cardY{
        grid-row: 3;
    }
    .cardB{
        grid-row: 4;
    }

}
/*tablet first*/
@media screen and (min-width: 600px) and (max-width: 1024px){
    .container{
        margin-top: 10px;
        margin-bottom:10px;
        width: 80%;
        text-align: center;
    }
    .cards {
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    
      
    }
   

}

    
